<div class="comment">
<div class="comment-display">
  <p class="comment-body"><%= comment.body %></p>
  <p class="username"><%= comment.user.email %></p>
 <!--  <p class="created_at"><%= comment.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p> -->
</div>
</div>
