<div class="categories_list">
  <p class="category">action</p>
  <p class="category">adventure</p>
  <p class="category">comedy</p>
  <p class="category">crime</p>
  <p class="category">drama</p>
  <p class="category">epics</p>
  <p class="category">horror</p>
  <p class="category">musical</p>
  <p class="category">sci-fi</p>
  <p class="category">war</p>
</div>