<div class="review-display">
  <p><%= review.body %></p>
  <p class="username"><%= review.user.email %></p>
  <p class="created_at"><%= review.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
</div>
